build/
tmp/
*.dylib
*.so
*.o
.DS_Store
composer.lock
vendor/
zvec/
cmake-3.28.3-macos-universal/
ffi/build/

# PHP test runner artifacts (php run-tests.php generates these)
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.sh
*.phar
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/.idea/zvec-php.iml

# PHP extension build artifacts
php-ext/autom4te.cache/
php-ext/build/
php-ext/modules/
php-ext/config.h
php-ext/config.h.in
php-ext/config.log
php-ext/config.nice
php-ext/config.status
php-ext/configure
php-ext/configure.ac
php-ext/libtool
php-ext/Makefile
php-ext/Makefile.fragments
php-ext/Makefile.objects
php-ext/run-tests.php
php-ext/.libs/
php-ext/*.lo
php-ext/*.la
php-ext/*.dep
